.PostApplication {
  display: flex;
  justify-content: center;
}

form {
  background-color: var(--secondary-bg);
  width: 35rem;
  max-width: 100%;
}

.file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 1rem;
}